* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
    font-family: 'Rubik', sans-serif;
    color: black;
}

:root{
    --background:#104F55;
    --containers:#9EC5AB;
}

button:hover{
    cursor: pointer;
}

body{
    background-color: var(--background);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 30px auto;
    text-align: center;
    color: #01200F;
    font-weight: bold;
}
.generator-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    width: 100%;
    justify-self: center;
    align-self: center;
}   

.container-pass{
    padding: 20px;
    display: flex;
    gap: 12px; 
    position: relative;
    background-color: var(--containers);
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}   

.copiado{
    background-color: green;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    display: none;
    position: absolute;
    z-index: 50;
    top: 20px;
}

#contraseña{
    border: none;
    font-size:  1.2rem;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

#contraseña::selection{
    color: black;
}


.btn-pass{
    padding: 5px;
    border-radius: 5px;
}

.btn-pass >img{
    width: 30px;
    height: 30px;
}


.filters{
    display: flex;
    flex-direction: column;
    background-color: var(--containers);
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
}

h2{
    justify-self: start;
    align-self: flex-start;
}

.filters > label{
    display: flex;
    flex-direction: column;
}

.filters-checkbox{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.filters-checkbox >label{
    display: flex;
    flex-direction: column;
}

.visible{
    display: flex !important;
    justify-content: center;
    align-self: center;
}

@media (width < 700px){
    body{
        justify-content: center;
    }
}


