* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: #14213d;
    color: aliceblue;
}

.generator-container{
    display: flex;
    margin: 20px 0 ;
    flex-direction: column;
    /* outline: 1px solid black; */
    justify-content: center;
    align-items: center;
    gap: 20px;

}   

.container-pass{
    background-color: red;
    padding: 10px;
    display: flex;
    gap: 5px;    
}


#contraseña{
    border: none;
    font-size:  1.2rem;
    width: 300px;
    /* padding: 10px; */
}

.copiar-pass > img, .recargar-pass > img{
    width: 25px;
}


.filters{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

label, p{
    text-align: center;
}

.filters > label{
    display: flex;
    flex-direction: column;
}

.filters-checkbox{
    display: flex;
    gap: 20px;
}

.filters-checkbox >label{
    display: flex;
    flex-direction: column;
}

